section{
    background-color: #4f4f52;
    color: rgb(215, 216, 218);
    padding-top: 20px;
    display: flex;
    /* justify-content: space-between; */
    
    
}

 .mainHeading {
    padding-top: 150px;  
    font-family: sans-serif;
    font-weight: 950;

} 

 .paragraph{
    padding: 20px;
    
} 

img{
    width: 100%;
    max-width: 500px;
    padding-left: 100px;
    padding-top: 150px;
    padding-right: 50px;
    padding-bottom: 200px;
    height: 50vh;
}

.herotext{
padding: 50px;

}
